/*
 * SPDX-FileCopyrightText: syuilo and misskey-project
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

@import url("https://cdn.jsdelivr.net/npm/jetbrains-mono@1.0.6/css/jetbrains-mono.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-jp.min.css");

* {
	font-family: "JetBrains Mono", "Pretendard JP", Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
}

html {
	background: rgb(28, 28, 37);
}

header {
	color: #fff;
}

main {
	background: rgb(35, 35, 47);
	color: #fff;
}

#tl > div {
	padding: 16px;
	border-bottom: solid 1px #3e3e3e;
}
#tl > div > header {
	font-weight: bold;
}
