@import url("https://cdn.jsdelivr.net/npm/jetbrains-mono/css/jetbrains-mono.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-jp.css");

* {
	font-family: "Pretendard JP", "JetBrains Mono", Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
}

html {
	background: #ffb4e1;
}

main {
	background: #dedede;
}

#tl > div {
	padding: 16px;
	border-bottom: solid 1px #c3c3c3;
}
#tl > div > header {
	font-weight: bold;
}
