/*
 * SPDX-FileCopyrightText: syuilo and misskey-project
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

html {
	background-color: var(--MI_THEME-bg);
	color: var(--MI_THEME-fg);
}

#splash {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	cursor: wait;
	background-color: var(--MI_THEME-bg);
	opacity: 1;
	transition: opacity 0.5s ease;
}

#splashIcon {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 64px;
	height: 64px;
	border-radius: 22px;
	pointer-events: none;
}

#splashText {
	position: absolute;
	inset: 0;
	margin: auto;
	display: inline-block;
	inline-size: 70%;
	block-size: 0;
	text-align: center;
	padding-block-start: 200px;
}

#splashSpinner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	display: inline-block;
	width: 28px;
	height: 28px;
	transform: translateY(80px);
	color: var(--MI_THEME-accent);
}

#splashSpinner > .spinner {
	position: absolute;
	top: 0;
	left: 0;
	width: 28px;
	height: 28px;
	animation: splashSpinner 2s linear infinite;
}
#splashSpinner > .spinner > .path {
	stroke: var(--MI_THEME-accent);
	stroke-linecap: round;
	animation: dash 1.2s ease-in-out infinite;
}

@keyframes splashSpinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -124;
	}
}
