doctype html

html

	head
		meta(charset='utf-8')
		meta(name='application-name' content='CherryPick')
		title CherryPick Cli
		style
			include ../cli.css
		script
			include ../cli.js

	body
		header
			h1 CherryPick Cli #{version}
		main
			div#form
				textarea#text
				button#submit submit
			div#tl
